<div class="forgot-password-page">
    <mat-card class="forgot-password-card">
        <div class="left-panel">
            <h1>Reset Password</h1>
            <!-- <img src="../../../../../assets/images/login.png" alt="login-icon" /> -->
        </div>
        <div class="right-panel">
            <h2>Reset Your Password</h2>

            <form [formGroup]="resetPasswordForm" (ngSubmit)="submit()">
                <app-input [config]="emailInputConfig" [control]="emailControl"></app-input>
                <app-error [control]="emailControl" [customMessageList]="emailValidationMessages"></app-error>

                <app-input [config]="passwordInputConfig" [control]="passwordControl"
                    (emitClickEvent)="onPasswordToggle()"></app-input>
                <app-error [control]="passwordControl" [customMessageList]="passwordValidationMessages"></app-error>


                <app-input [config]="newPasswordInputConfig" [control]="newPasswordControl"
                    (emitClickEvent)="onNewPasswordToggle()"></app-input>
                <app-error [control]="newPasswordControl"
                    [customMessageList]="newPasswordValidationMessages"></app-error>

                <app-button label="Cancel" [color]="buttonColor" type="button" (click)="onCancel()">
                </app-button>

                <app-button label="Reset Password" [color]="buttonColor" type="submit"
                    [disabled]="resetPasswordForm.invalid">
                </app-button>
            </form>
        </div>
    </mat-card>
</div>