<div class="dialog-header">
    <h2 class="dialog-title">{{ data.title }}</h2>

    <button mat-icon-button class="close-btn" aria-label="Close" (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<mat-dialog-content>
    <ng-container *ngComponentOutlet="data.component"></ng-container>
</mat-dialog-content>

<mat-dialog-actions class="dialog-footer" *ngIf="data.showFooter">
    <button mat-raised-button color="primary" form="dialogForm" type="submit">
        Save
    </button>
    <button mat-stroked-button color="close-btn" (click)="close()">
        Cancel
    </button>
</mat-dialog-actions>