<div class="m-20">
    <div class="d-flex justify-content-space-between p-10">
        <div>
            <app-input [config]="searchConfig" [control]="searchControl" appAllowAlphabetOnly>
            </app-input>
        </div>
        <div>
            <app-button label="Add Dispatcher" [color]="buttonColor" [type]="buttonType" (click)="addEditDispatcher(0)"
                [icon]="'add'" [tooltipText]="'Add'"></app-button>
        </div>
    </div>

    <div class="dispatcher-content">
        <app-dynamic-table [data]="dispatchers()" [length]="totalCount()" [columns]="columns" [pageSize]="pageSize()" [pageSizeOptions]="pageSizeOptions"
            (edit)="addEditDispatcher($event)" (delete)="onDelete($event)" (pageChange)="onPage($event)"
            (sortChange)="onSort($event)"></app-dynamic-table>
    </div>
</div>