<div class="m-20">
    <div class="d-flex flex-end">
        <app-button label="Add Dispatcher" [color]="buttonColor" [type]="buttonType" (click)="addEditDispatcher(0)"
            [icon]="'add'"></app-button>
    </div>
    <div class="dispatcher-content">
        <app-dynamic-table [data]="dispatchers()" [columns]="columns" [pageSize]="5" [pageSizeOptions]="[5,10,25]"
            (edit)="addEditDispatcher($event)" (delete)="onDelete($event)" (pageChange)="onPage($event)"
            (sortChange)="onSort($event)"></app-dynamic-table>
    </div>
</div>