$blue:#1565c0;


:root{
  --snack-error-bg: #f5ecec;
  --snack-error-text: #94383a;
  --snack-success-bg: #e8f2ea;
  --snack-success-text: #157d24;
  --snack-warning-bg: #fef6ea;
  --snack-warning-text: #f5a424;
  --snack-info-bg: #e8f4fa;
  --snack-info-text: #1570a6;

  
}