table {
  width: 100%;
  overflow: auto;
}

th {
  font-weight: 600;
}

td,
th {
  padding: 12px;
}

.table-container {
  background: #fff;
  border-radius: 10px;
  margin: 10px;
  /* padding: 12px; */
  overflow: auto;
  border: 1px solid #cd5279;
    box-shadow: 3px 2px #cd5279;
}