<div class="table-container mat-elevation-z2">

  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="onSortChange($event)" class="mat-elevation-z2">

    @for (column of visibleColumns(); track column.key) {

    <ng-container [matColumnDef]="column.key">

      <th mat-header-cell *matHeaderCellDef [mat-sort-header]="column.key" [disabled]="!column.sortable">
        {{ column.label }}
      </th>


      <td mat-cell *matCellDef="let row">

        @switch (column.key) {

        @case ('actions') {

        @if (row.statusName!=='Cancelled'){
        @if (column.canEdit?.(row)) {
        <button mat-icon-button color="primary" matTooltip="Edit" (click)="edit.emit(row)">
          <mat-icon>edit</mat-icon>
        </button>
        }

        @if (column.canDelete?.(row)) {
        <button mat-icon-button color="warn" matTooltip="Delete" (click)="delete.emit(row)">
          <mat-icon>delete</mat-icon>
        </button>
        }

        @if (column.canAssignVehicle?.(row)) {
        <button mat-icon-button color="warn" matTooltip="Assign Vehicle" (click)="assignVehicle.emit(row)">
          <mat-icon>directions_car</mat-icon>
        </button>
        }

        @if (column.canCancel?.(row)) {
        <button mat-icon-button color="warn" matTooltip="Cancel" (click)="cancel.emit(row)">
          <mat-icon>cancel</mat-icon>
        </button>
        }

        @if (column.canAccept?.(row)) {
        <button mat-icon-button color="warn" matTooltip="Accept" (click)="statusChange.emit(row)">
          <mat-icon>check_small</mat-icon>
        </button>
        }

        @if (column.canStart?.(row)) {
        <button mat-icon-button color="warn" matTooltip="Start" (click)="statusChange.emit(row)">
          <mat-icon>not_started</mat-icon>
        </button>
        }

        @if (column.canComplete?.(row)) {
        <button mat-icon-button color="warn" matTooltip="Complete" (click)="statusChange.emit(row)">
          <mat-icon>task_alt</mat-icon>
        </button>
        }
        }
        @if (column.canDownload?.(row)) {
        <button mat-icon-button color="primary" matTooltip="Download Report" (click)="download.emit(row)">
          <mat-icon>download</mat-icon>
        </button>
        }
        }

        @default {

        @if (column.isLabel) {
        <button mat-button class="status-btn" [ngClass]="getStatusClass(row[column.key])">
          {{ row[column.key] }}
        </button>
        }
        @else {
        <span [ngClass]="{ 'table-text': column.key === 'description' }"
          [matTooltip]="column.key === 'description' ? row[column.key] : ''" matTooltipPosition="above">
          {{ row[column.key] }}
        </span>
        }

        }

        }
      </td>
    </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns()">
    </tr>

    <tr *matNoDataRow>
      <td class="mat-cell text-center" [attr.colspan]="displayedColumns().length">
        <app-no-data-found></app-no-data-found>
      </td>
    </tr>

  </table>

  <!-- PAGINATOR -->
  <mat-paginator [length]="length()" [pageSize]="pageSize()" [pageSizeOptions]="pageSizeOptions()" showFirstLastButtons
    (page)="onPageChange($event)">
  </mat-paginator>

</div>