.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../../../../assets/images/Fleet-Background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // background-color: var(---mat-sys-tertiary);
}

.login-card {
  display: flex !important;        
  flex-direction: row !important;
  // width: 960px;
  min-height: 540px;
  padding: 0;
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--mat-sys-surface);
  box-shadow: var(--mat-sys-elevation-3);
}

.left-panel {
  // flex: 0 0 40%;                    
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px 32px;
  text-align: center;
  // background: #fa887a;
 background: linear-gradient(
    135deg,
    var(--mat-sys-primary),
    var(--mat-sys-tertiary)
  );
  color: var(--mat-sys-on-primary);

  h1 {
    margin-bottom: 12px;
  }

  p {
    opacity: 0.9;
  }

  
  .icon-circle {
    margin-top: 40px;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background-color: var(--mat-sys-on-primary);
    display: flex;
    align-items: center;
    justify-content: center;

    // mat-icon {
    //   font-size: 48px;
    //   color: var(--mat-sys-primary);
    // }
  }
}

.right-panel {
  flex: 1;                           
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 48px 48px;
}

.right-panel h2 {
  font: var(--mat-sys-title-large);
  margin-bottom: 24px;
}

.right-panel form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
//   margin: 8px 0 16px;
}

// .remember-me {
//   display: flex;
//   align-items: center;
//   gap: 6px;
//   font-size: 14px;
// }


