<div class="m-20 table-container">
    <div class="d-flex justify-content-space-between p-10">
        <div>
            <app-input [config]="searchConfig" [control]="searchControl" appAllowAlphabetOnly>
            </app-input>
        </div>
        <div>
           <app-button label="Add Driver" [color]="buttonColor" [type]="buttonType" (click)="addEditDriver(0)"
            [icon]="'add'" [tooltipText]="'Add'"></app-button>
        </div>
    </div>
    <div class="table-container">
        <app-dynamic-table [data]="drivers()" [length]="totalCount()" [columns]="columns" [pageSize]="pageSize()" [pageSizeOptions]="pageSizeOptions"
            (edit)="addEditDriver($event)" (delete)="onDelete($event)" (pageChange)="onPage($event)"
            (sortChange)="onSort($event)" (assignVehicle)="onAssignVehicle($event)"></app-dynamic-table>
    </div>
</div>