<form [formGroup]="tripForm" (ngSubmit)="submit()" id="dialogForm">
    <div class="form-row m-20">
        <div class="form-group">
            <app-input [config]="originConfig" [control]="originControl"></app-input>
            <app-error [control]="originControl" [showErrorSpacing]="originConfig.showErrorSpacing">
            </app-error>
        </div>
    </div>
    <div class="form-row m-20">
        <div class="form-group">
            <app-input [config]="destinationConfig" [control]="destinationControl">
            </app-input>
            <app-error [control]="destinationControl" [showErrorSpacing]="destinationConfig.showErrorSpacing">
            </app-error>
        </div>
    </div>
    <div class="form-row m-20">
        <div class="form-group">
            <app-text-area [label]="'Description'" [placeholder]="'Enter description'" [rows]="4" [maxLength]="500"
                [control]="descriptionControl">
            </app-text-area>
            <app-error [control]="descriptionControl"></app-error>
        </div>
    </div>
    <div class="form-row m-20">
        <div class="form-group">
            <app-date label="Scheduled date" [control]="scheduledAtControl" [min]="today()"
                (dateChange)="updateScheduledAt()"></app-date>
        </div>
    </div>
    <div class="form-row m-20">
        <div class="form-group">
            <app-time-picker label="Scheduled Time" [control]="scheduledTimeControl"
                [disabled]="!tripForm.get('scheduledDate')?.value">
            </app-time-picker>
            <app-error [control]="scheduledTimeControl" [customMessageList]="scheduleTimeValidation"></app-error>
        </div>
    </div>
</form>