<form [formGroup]="vehicleForm" (ngSubmit)="submit()" id="dialogForm">
    <div class="form-row m-20">
        <div class="form-group">
            <app-input [config]="makeConfig" [control]="makeControl">
            </app-input>
            <app-error [control]="makeControl" [showErrorSpacing]="makeConfig.showErrorSpacing">
            </app-error>
        </div>
    </div>
    <div class="form-row m-20">
        <div class="form-group">
            <app-input [config]="modelConfig" [control]="modelControl">
            </app-input>
            <app-error [control]="modelControl" [showErrorSpacing]="modelConfig.showErrorSpacing">
            </app-error>
        </div>
    </div>
    <div class="form-row m-20">
        <div class="form-group">
            <app-input [config]="vinConfig" [control]="vinControl">
            </app-input>
            <app-error [control]="vinControl" [customMessageList]="vinValidationMessages"
                [showErrorSpacing]="vinConfig.showErrorSpacing">
            </app-error>
        </div>
    </div>
    <div class="form-row m-20">
        <div class="form-group">
            <app-input [config]="yearConfig" [control]="yearControl" appAllowNumberOnly>
            </app-input>
            <app-error [control]="yearControl" [showErrorSpacing]="yearConfig.showErrorSpacing">
            </app-error>
        </div>
    </div>
    <div class="form-row m-20">
        <div class="form-group">
            <app-input [config]="licensePlateInputConfig" [control]="licensePlateControl">
            </app-input>
            <app-error [control]="licensePlateControl" [customMessageList]="licensePlateValidationMessages"
                [showErrorSpacing]="licensePlateInputConfig.showErrorSpacing">
            </app-error>
        </div>
    </div>
    <div class="form-row m-20">
        <div class="form-group">
            <app-date label="Insurance Expiry Date" [control]="insuranceExpiryDateControl"
                [min]="minLicenseExpiryDate()">
            </app-date>
            <app-error [control]="insuranceExpiryDateControl">
            </app-error>
        </div>
    </div>
    <div class="mat-checkbox">
        <div class="form-group">
            <mat-checkbox formControlName="isActive">Is Active?</mat-checkbox>
        </div>
    </div>
</form>