<div class="sidebar-inner" [class.closed]="!sidebarOpen()?.()">

  <div class="sidebar-header">
    <span class="title-logo">FleetSaaS</span>
  </div>

  <ul class="menu">

    <li *ngFor="let item of menuItems">

      <!-- Single menu -->
      <a *ngIf="!item.children"
         [routerLink]="item.route"
         class="nav-link"
         routerLinkActive="active">
        <span class="material-symbols-outlined">{{ item.icon }}</span>
        <span class="link-text">{{ item.label }}</span>
      </a>

      <!-- Expansion menu -->
      <div *ngIf="item.children" class="menu-expansion">

        <div class="nav-link expansion-header"
             (click)="toggle(item.label)">
          <span class="material-symbols-outlined">{{ item.icon }}</span>
          <span class="link-text">{{ item.label }}</span>

          <span class="material-symbols-outlined expand-icon"
                [class.open]="openMenu() === item.label">
            expand_more
          </span>
        </div>

        <ul class="submenu"
            [class.open]="openMenu() === item.label">
          <li *ngFor="let child of item.children">
            <a [routerLink]="child.route"
               class="sub-link"
               routerLinkActive="active">
               <span class="material-symbols-outlined sub-icon">{{ child.icon }}</span>
              <span>{{ child.label }}</span>
            </a>
          </li>
        </ul>

      </div>
    </li>
  </ul>
</div>
