<form [formGroup]="dispatcherForm" (ngSubmit)="submit()" id="dialogForm">
    <div class="form-row m-20">
        <div class="form-group">
            <app-input [config]="userNameConfig" [control]="userNameControl" appAllowAlphabetOnly>
            </app-input>
            <app-error [control]="userNameControl" [customMessageList]="userNameValidationMessages"
                [showErrorSpacing]="userNameConfig.showErrorSpacing">
            </app-error>
        </div>
    </div>
    <div class="form-row m-20">
        <div class="form-group">
            <app-input [config]="emailInputConfig" [control]="emailControl">
            </app-input>
            <app-error [control]="emailControl" [customMessageList]="emailValidationMessages"
                [showErrorSpacing]="emailInputConfig.showErrorSpacing">
            </app-error>
        </div>
    </div>
    <div class="form-row m-20">
        <div class="form-group">
            <app-input [config]="phoneNumberInputConfig" [control]="phoneNumberControl" appAllowNumberOnly>
            </app-input>
            <app-error [control]="phoneNumberControl" [customMessageList]="phoneNumberValidationMessages"
                [showErrorSpacing]="phoneNumberInputConfig.showErrorSpacing">
            </app-error>
        </div>
    </div>
</form>