<div class="m-20 table-container">
    <div class="d-flex justify-content-space-between p-10">
        <div class="d-flex g-10">
            <div>
                <app-input [config]="searchConfig" [control]="searchControl" appAllowAlphabetOnly></app-input>
            </div>
            <div>
                <app-select [label]="'Select Status'" [dropdownOptions]="statusList()" [control]="statusControl"
                    [customClass]="'dropdown-w-100'"></app-select>
            </div>
        </div>
    </div>
    <div class="table-container">
        <app-dynamic-table [data]="trips()" [length]="totalCount()" [columns]="columns" [pageSize]="pageSize()"
            [pageSizeOptions]="pageSizeOptions" (statusChange)="statusChange($event)" (pageChange)="onPage($event)"
            (sortChange)="onSort($event)" (download)="onDownloadReport($event)">
        </app-dynamic-table>
    </div>
</div>